/* FolderTreeNode.css */
.folder-node {
    cursor: pointer;
    margin-left: 16px;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    align-items: center;
  }
  
  .folder-node:hover {
    background-color: #f0f0f0;
  }


  .folder-node.selected {
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 16px;
  }
  

.tooltip {
  font-size: 14px;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  transition: opacity 0.3s;
}

.folder-buttons button {
  margin-left: 5px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.folder-buttons img {
  background-color: #E1E1E1;
  width: 20px;
  height: 20px;
}

/* FolderTreeNode.css */
.folder-buttons button:hover {
  opacity: 0.7; /* You can adjust the opacity value as needed */
}






