@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Base Styles */
* {
margin: 0;
font-family: "Open Sans";
}

/* Navbar */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 3px solid #f2f2f2;
  }
  
.navbar h1 {
    color: white;
    padding-left: 5px;
}

.navbar .links {
  margin-left: auto;
}

.navbar button:hover {
  opacity: 0.5;
}


/* Home */

.home h2 {
  color: darkorange;
  text-align: left;
  margin-bottom: 10px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table td {
    padding: 12px 15px;
    text-align: center;   
}

.styled-table th {
  padding: 12px 15px;
  text-align: center;
  background-color: grey;
  color: white;
  position: sticky;
  top: 0;   
}
.styled-table tbody tr {
  border-bottom: 2px solid #dddddd;
}


.styled-table tbody tr:last-of-type {
  border-bottom: 4px solid darkorange;
}

th {
  font-weight: bold;
}

.content {

  margin: 40px auto;
  padding: 20px;
}

.googleMaps {
  float: right;
}

.mainTable {
  float: left;
}

.mainTable {
  float: left;
}

.mainTable button:hover {
  opacity: 0.8; /* Set the opacity on hover */
}

/* Create */

.create label {
  text-align: left;
  display: block;
  font-size: 20px;
}

.create p {
  font-size: 20px;
}

.create h2 {
  text-align: center;
  font-size: 40px;
  color: darkorange;
  margin-bottom: 10px;
}

.create input {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;
  font-size: 20px;
  height: 30px;
 /* margin: 10px 0;  */
  box-sizing: border-box;
  display: block;
}
.ConfirmForm button {
  background: darkorange;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  width: 200px;
  cursor: pointer;
  display: block;
  margin: 10px;
}

.ConfirmForm button:hover {
  opacity: 0.8; /* Set the opacity on hover */
}


.createSpineHead {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createSpineHead1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secoundTable {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createSpineHeadr image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Set the color of your text */
  font-size: 24px; /* Set the font size of your text */
  font-weight: bold; /* Set the font weight of your text */
  text-align: center;
}
.create {
  border: 1px solid #ccc;
  padding: 20px;
  margin: auto;
  width: 70%;
  background-color: #E1E1E1;
}

.create-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  display: flex;
}

.right-container {
  flex-grow: 1;
}

.radio-buttons {
  display: flex;
  gap: 20px; /* Adjust the gap to your preference */
  padding-top: 10px;
}

/* Style for the radio button itself */
.radio-buttons input[type="radio"] {
  width: 20px; /* Set the width of the radio button */
  height: 20px; /* Set the height of the radio button */
  align-items: center;
}

/* Style for the label associated with the radio button */
.radio-buttons label {
  font-size: 20px; /* Adjust the font size of the label */
  position: relative;
}



/* Search box */

.search-container {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

.search-inner {
  display: flex;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  width: 100%;
}
.search-inner input {
  width: 100%;
  font-size: 15px;
  border:none;
  outline: none;
  padding: 6px 0px;
}

.search-inner img {
  height: 20px;
  margin-right: 20px;
}

.searchBox {
  background-color: white;
  background-image: "/images/searchicon.png";
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  width: 220px;
  border-radius: 15px; /* קצוות מעוגלים */
}

.clear-icon {
  transition: filter 0.3s ease;
}

.clear-icon:hover {
  filter: brightness(70%);
}

/* BridgInfo */

.BridgeInfo img {
  width: 500px;
  height: 500px;
}

.bridge-details h2 {
  color: darkorange;
  /*text-align: center;*/
  padding-bottom: 10px ;
}

.bridge-info-table th,
.bridge-info-table td {
    padding: 12px 15px;
    text-align: center;   
}


.bridge-details button {
  background:green;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: auto;
}

/* BridgeMap */

.BridgeMap {
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%;
}

/* DynamicForm */

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust as needed */
}

.input-row input {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-size: 20px;
  height: 30px;
  margin: 10px 0;
  box-sizing: border-box;
  width: 100%; /* Set width to 100% */
}


.spanForm h2 {
  text-align: center;
  font-size: 40px;
  color: darkorange;
  margin-bottom: 10px;
}

.spanFormTable {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-label {
  margin-right: 10px; /* Adjust the margin as needed */
  text-align: left;
  font-size: 20px;
}

.centered-container-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Set width to 100% */
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-row-abutment input {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-size: 20px;
  height: 30px;
  margin: 10px 0;
  box-sizing: border-box;
  width: 90%; /* Set width to 100% */
}

.input-label-abutment {
  margin-right: 10px; /* Adjust the margin as needed */
  text-align: left;
  font-size: 20px;
  font-weight: bold; /* Add this line to make the font bold */
}

/* ////////////////////////////////////////////////////////// */



.Directories label {
  display: block;
  font-size: 20px;
}

.Directories p {
  font-size: 20px;
}

.Directories h2 {
  text-align: center;
  font-size: 40px;
  color: darkorange;
  margin-bottom: 10px;
}

.Directories_table {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Directories_table td {
  width: 200px;
} 


  .Directories .ikxBAC {
    appearance: none;
    background-color:black;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
  }

  .Directories .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

  .Directories .ikxBAC,
  .Directories .ikxBAC::after {
    transition: all 100ms ease-out;
  }

  .Directories .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
  }

  .Directories input[type=checkbox] {
    cursor: default;
  }

  .Directories .ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

  .Directories .ikxBAC:checked {
    background-color: darkorange;
  }

  .Directories .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
  }

  .Directories :focus:not(.focus-visible) {
    outline: 0;
  }

  .Directories .ikxBAC:checked:hover {
    background-color: darkorange;
  }


  /* ////////// CsvGenerator /////////// */

  .buttonDownload {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    background-color: #4CAF50;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
    border: none;
    width: 300px;
    height: 50px;
    font-size: 20px;
   }
   
   .buttonDownload:hover {
    background-color: #45a21a;
    color: white;
   }
   
   .buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
   }
   
   .buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
   }
   
   .buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
   }
   
   .buttonDownload:hover:before {
    border-color: #cdefbd;
   }
   
   .buttonDownload:hover:after {
    border-top-color: #cdefbd;
    animation-play-state: running;
   }
   
   @keyframes downloadArrow {
    0% {
     margin-top: -7px;
     opacity: 1;
    }
   
    0.001% {
     margin-top: -15px;
     opacity: 0.4;
    }
   
    50% {
     opacity: 1;
    }
   
    100% {
     margin-top: 0;
     opacity: 0.4;
    }
   }


/* ////////////////////// Next Button ///////////////////////// */

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 50px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* For a question mark button inside the input */
.buttonInside{
  position:relative;
  margin-bottom:10px;
}

.buttonInside button{
  position:absolute;
  right: 30px;
  top: 15px;
  border:none;
  height:25px;
  width:25px;
  border-radius:100%;
  outline:none;
  text-align:center;
  font-weight:bold;
  padding:2px;
  cursor: pointer;
}

.buttonNear {
  position: relative;
}

.buttonNear button {
  position: absolute;
  right: 10px; /* Adjust this value to control the distance from the text */
  top: 50%;
  transform: translateY(-85%);
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  outline: none;
  text-align: center;
  font-weight: bold;
  padding: 2px;
  cursor: pointer;
}

/* Add any other styles for the image if needed */
.buttonNear .image-container {
  display: none; /* Assuming you want to hide the image by default */
}

.buttonNear:hover .image-container {
  display: block; /* Show the image on hover */
}


.imageContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.imageContainer img {
  max-width: 80vw;
  max-height: 80vh;
}


.image-container {
  position: fixed;
  top: 45%;
  left: 85%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.hover-button:hover + .image-container {
  visibility: visible;
  opacity: 1;
}


/* Add Folder Button */

.input-container {
  position: relative;
  display: flex;
  height: 2.8rem;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}

.input-container input {
  border-radius: 8px 0 0 8px; /* Rounded only on the left side */
  border: 0px solid  rgb(176 190 197);
  background-color: transparent;
  padding: 0.625rem 70px 0.625rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgb(69 90 100);
  outline: none;
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container input:focus {
  border: 0px solid rgb(236 72 153 );
}

.invite-btn,
.invite-btn-del ,
.invite-btn-edit{
  position: absolute;
  width: 105px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  z-index: 10;
  border-radius: 4px;
  background-color: darkorange;
  color: #fff;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  transition: .6s ease;
}

.invite-btn-edit{
  position: absolute;
  width: 105px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  z-index: 10;
  border-radius: 4px;
  background-color: darkorange;
  color: #fff;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  transition: .6s ease;
}

.invite-btn-edit{
  background-color: orange;
}

.invite-btn{
  background-color: green;
}

.invite-btn:hover,
.invite-btn-del:hover,
.invite-btn-edit:hover  {
opacity: 0.8;
}

  
.input-container input:placeholder-shown ~ .invite-btn-edit {
  pointer-events: none;
  background-color: orange;
  opacity: 0.5;
}

.input-container input:placeholder-shown ~ .invite-btn {
  pointer-events: none;
  background-color: green;
  opacity: 0.5;
}


/* FolderTreeNode.css */
.folder-buttons button:hover {
  opacity: 0.7; /* You can adjust the opacity value as needed */
}


/* accessible' : 'inaccessible' in Tree Folder*/

.inaccessible {
  pointer-events: none;
  opacity: 0.5; /* Optionally reduce opacity to indicate it's disabled */
}

.accessible {
  pointer-events: auto;
  opacity: 1; /* Reset opacity when accessible */
}


/* Bridge Info */

.container-bridgeInfo {

  display: flex;
}

.left-part {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E1E1E1; 
}

.right-part {
  width: 500px; /* Set a fixed width for the right part */
  flex: 1;
  background-color: #E1E1E1; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* //////////// Log In Page ////////////////// */

.wrapper {
  position: relative;
}


.wrapper button {
  height: 80%;
  border: none;
  position: absolute;
  right: 35px;
  top: 2px;
}

.wrapper button:hover {
opacity: 0.5;
}

/* //////////// AddNewAsset Page ////////////////// */

/* styles.css */

.AddNewAsset {
  width: 1000px;
  background-color: #E1E1E1;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.AddNewAsset p {
  color: darkorange; /* Set the text color */
  font-size: 24px; /* Set the font size */
  font-weight: bold; /* Set the font weight */
  margin-bottom: 20px; /* Set the margin at the bottom for spacing */
}

.AddNewAssetTable {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddNewAssetTable td {
  padding-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.AddNewAssetTable p {
  margin: 0;
  font-size: 14px; /* Set a smaller font size */
  font-weight: bold;
  color: #333;
  position: absolute;
  top: -15px;

}

.AddNewAssetTable input {
  width: 500px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s;
}

.AddNewAssetTable select {
  width: 500px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s;
}

.AddNewAssetTable input:focus {
  border-color: #d35400;
  box-shadow: 0 0 5px rgba(211, 84, 0, 0.5);
}

.AddNewAssetTable select:focus {
  border-color: #d35400;
  box-shadow: 0 0 5px rgba(211, 84, 0, 0.5);
}

.AddNewAsset .required {
  color: red;
}


